body {
    font-family: Arial, sans-serif;
}

.container-centered {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
header {
    background-color: #ff6900;
    height: 60px;
    width: 100%;

    position: fixed;
    z-index: 1;

    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

header .container-centered {
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header .container-centered nav {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}

header .container-centered nav a h1 {
    font-size: 1em;
}

header .container-centered #container-logo img {
    height: 2em;
}

header .container-centered #function img {
    height: 1em;
}
/* /header */

/* main */
main {
    padding-top: 6em;
    padding-bottom: 2em;
}

main .container-centered {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}

/* card */
/* card picture */
main .container-centered .card {
    width: 30%;
    height: 500px;
    position: relative;
}

main .container-centered .card img {
    width: 100%;
}

main .container-centered .card .alternative-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

main .container-centered .card:hover .alternative-img {
    display: block;
}

main .container-centered .card .on-photo {
    position: absolute;
    bottom: 100px;
    left: 0;

    color: white;
    font-size: 0.8em;
}

main .container-centered .card .liked {
    width: 1em;
    height: 1em;
    background-color: white;

    position: absolute;
    top: 10px;
    right: 0;

    font-size: 2em;
    text-align: center;
}

main .container-centered .card .liked:hover {
    color: red;
}

main .container-centered .card .on-photo .sale {
    padding: 0.5em;

    background-color: red;
}

main .container-centered .card .on-photo .sustain {
    padding: 0.5em;

    background-color: green;
}
/* /card picture */

/* card-info */
main .container-centered .card .product-info .product-brand {
    font-size: 0.8em;
}

main .container-centered .card .product-info .product-name {
    font-weight: bold;
}

main .container-centered .card .product-info .product-price {
    font-size: 0.8em;
    font-weight: bold;
    color: red;
}

main .container-centered .card .product-info .product-price .old-price {
    font-weight: normal;
    text-decoration: line-through;
    color: black;
}
/* /card-info */
/* /card */
/* /main */

/* footer */
footer {
    background-color: #202020;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .container-centered {
    padding: 2em 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

footer .container-centered #info-box {
}

footer .container-centered #info-box h2 {
    margin-bottom: 0.5em;
    font-size: 1em;
}

footer .container-centered #info-box #footer-links {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    
    font-size: 0.8em;
}

footer .container-centered #social-box {
}

footer .container-centered #social-box h2 {
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

footer .container-centered #social-box #social-links {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
}
/* /footer */